<!-- /views/players/index.ejs -->

<%
var content = `
<div class="container">
  <h1>Players</h1>
  <!-- Hier kommt Ihr Inhalt -->
</div>
`;
%>

<%- include('../layout', { title: 'Players', body: content }) %>