<!-- /views/rankings/index.ejs -->

<%
var content = `
<div class="container">
  <h1>Rankings</h1>
  <!-- Hier kommt Ihr Inhalt -->
</div>
`;
%>

<%- include('../layout', { title: 'Rankings', body: content }) %>